<mat-card 
  class="announcement-details-page-widget"
  *ngIf="announcement !== undefined"
  appearance="outlined">
  <!-- Announcement Card Header (Image, Name, Description) -->
  <mat-card-header class="announcement-header">
    <div>
      <!-- Announcement Name and Logo -->
      <div class="announcement-top-header-group">
        <!-- Announcement Logo (Tablets/Phones) -->
        <img
          mat-card-image
          src="{{ announcement!.image }}"
          class="logo"
          [ngStyle]="{
            width: '32px',
            height: '32px',
            'margin-right': '16px',
            'border-radius': '50%'
          }" />
        <!-- Announcements Name -->
        <div class="Announcement-title-section">
          <mat-card-title class="title">
            {{ announcement!.headline }}
          </mat-card-title>
        </div>
      </div>

      <!-- Announcement Body -->
      <p
        class="Announcement-body">
        {{ announcement!.body }}
      </p>
      <div class="announcement-dates">
        <footer class="announcement-publishedDate" *ngIf="announcement.published_date">
          Published: {{ announcement.published_date }}
         </footer>
         <footer class = "announcement-editedDate" *ngIf="announcement.edited_date">
          Edited: {{announcement.edited_date}}
         </footer>

      </div>
      <div class = "announcements-buttons">
        <button *ngIf="isUserSignedIn" class = "announcement-share" mat-stroked-button (click)="copyUrl()">
          <mat-icon>ios_share</mat-icon>
        </button>
        <a
          class="announcements-link"
          [routerLink]="['/announcements']">
          <button class="announcements-btn" mat-stroked-button>Back</button>
        </a>
        <a
        *ngIf="announcement.organization_slug !== undefined"
        (click)="handleClick()">
          <button mat-stroked-button class="organization-btn">Organization</button>
        </a>
      </div>
      </div>
  </mat-card-header>
</mat-card>
