.Announcement-comments-widget {
    min-width: 97.5%;
}

.Announcement-author-section {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.comment-text {
    padding-left: 10px;
    padding-right: 15px;
    white-space:pre-wrap;
}

.announcement-top-header-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.Announcement-comment-posted_date {
    display: flex;
    padding-right: 20px;
    color: #999;
    font-size: 0.9em;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}