<mat-card class="Announcement-comments-widget" appearance="outlined">
    <div class = "user-comment" *ngFor="let comment of comments">
    <!-- Comment Author -->
    <div class="Announcement-author-section">
        <mat-card-title class="comment-author">
            {{ comment.author!.first_name + " " + comment.author!.last_name}} 
        </mat-card-title>
    </div>

    <!-- Comment Body -->
    <p class="comment-text">
        {{ comment.text }}
    </p>
    <footer class="Announcement-comment-posted_date">
        {{ comment.posted_date | date }}
    </footer>