/* .create-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
} */

.announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.search-bar {
    flex: 1;
    padding-right: 10px;
}

.sort-icon {
    padding-top: 3px;
}

.search-container {
    display: flex;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 13px;
}

.page-number {
    padding-left: 8px;
    padding-right: 8px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
}