
    <!-- <app-announcement-details-page-widget
      [announcement]="announcement" />
    <app-announcement-comments-widget>
      [comment]="comment" -->
    <app-announcement-details-page-widget
      [announcement]="announcement"
      [profile]="profile" 
      [commentBox]="showCommentBox"
      (openCommentBox)="toggleCommentBox($event)"/>
<!-- <app-announcement-comments-widget [
  comment]="comment"
  *ngFor="let comment of comments">
</app-announcement-comments-widget> -->


<div class = "comment-box" *ngIf='isUserSignedIn && showCommentBox'>
  <textarea class = "comment-textbox" type="text" [(ngModel)]="userComment" placeholder="Input comment here. Press Enter to submit." (keydown.enter)="submitComment()"></textarea>
</div>

<div class = "user-comment" *ngFor="let comment of comments">
  <mat-card class="Announcement-comments-widget" appearance="outlined">
    <!-- Comment Author -->
    <div class="Announcement-author-section">
      <img
          mat-card-image
          src="{{ comment.author!.github_avatar! }}"
          class="logo"
          [ngStyle]="{
            width: '32px',
            height: '32px',
            'margin-right': '16px',
            'border-radius': '50%'
          }" 
          *ngIf="comment!.author!.github_avatar; else default"/>
    <ng-template #default>
      <p *ngIf="comment.author && comment.author.first_name && comment.author.last_name" class="user-avatar">
        {{ comment.author!.first_name.charAt(0) }}{{ comment.author!.last_name.charAt(0) }}
      </p>
    </ng-template>
      <mat-card-title class="comment-author">
        {{ comment.author!.first_name + " " + comment.author!.last_name}}
      </mat-card-title>
    </div>
    
    <!-- Comment Body -->
    <p class="comment-text">
      {{ comment.text }}
    </p>
    <footer class="Announcement-comment-posted_date">
      Published: {{ comment.posted_date | date: 'MMM d, y, h:mm a' }}
    </footer>
  </mat-card>
</div>
